@import '/src/shared/assets/styles/basics.scss';

.auth-form {
  display: flex;
  flex-direction: column;
}
.auth-form__input {
  display: flex;
  align-items: center;
  column-gap: $offset16;
  padding: $offset8 $offset18;
  @include border('medium');

  &:hover,
  &.active {
    background-color: $red;
  }
}

.auth__forgotten-password:hover {
  opacity: 0.8;
}

.auth-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.auth-container h1 {
  margin-bottom: 40px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}

.auth-form {

  * {
    width: 100%;
  }

  input, button {
    padding: 12px;
    border-radius: 10px;
  }

  input {
    //border: none;
    border: 1px solid $dark-gray;
    background: $dark-black;
  }

  input::placeholder {
    color: $white;
  }

  button {
    max-width: 217px;
    background-color: $red;
    border: none;
  }

  button:hover {
    opacity: 0.8;
  }

}