@import '../../assets/styles/basics';

button {

}
a {
	text-decoration: none;
}

.password-input-container {
	position: relative;
}
.password-control {
	width: 24px;
	height: 16px;
	position: absolute;
	top: $offset12;
	right: $offset16;
	display: inline-block;
}