@import '/src/shared/assets/styles/basics.scss';

.input {
	position: relative;
	width: 100%;
}
.visible-control {
	position: absolute;
	top: $offset12;
	right: $offset16;
	display: inline-block;
	width: 24px;
	height: 16px;
}