@import '../../assets/styles/basics.scss';

.button {
	padding: $offset8 $offset16;
	@include border('medium')
}
a {
	text-decoration: none;
}
.green {
	background-color: $green;
}
.gray {
	background-color: $gray;
}
.orange {
	background-color: $orange;
}
.gray p,
.red p,
.orange p {
	color: $white;
}

.red {
    padding: $offset12 $offset16;
    border-radius: 10px;
	background-color: $red;
	border: none;
}

.red:hover {
    opacity: 0.8;
}


