@import '../../assets/styles/basics.scss';

.button {
	padding: $offset8 $offset16;
	@include border('medium');

	&:disabled {
		pointer-events: none;
		opacity: .5;
	}
}
a {
	text-decoration: none;
}
.green {
	background-color: $green;
}
.gray {
	background-color: $gray;
}
.orange {
	background-color: $orange;
}
.gray p,
.orange p {
	color: $white;
}


