@import '/src/shared/assets/styles/basics.scss';

.button {
	padding: $offset12 $offset16;
	@include border('medium');

	&:disabled {
		pointer-events: none;
		opacity: .5;
	}
}
a {
	text-decoration: none;
}
.green {
	background-color: $green;
}
.gray {
	background-color: $gray;
}
.orange {
	background-color: $orange;
}
.red {
	background-color: $red;
}
.gray, .red, .orange {
	p {
		color: $white;
	}
}
