@import '../../assets/styles/basics.scss';

button {

}

a {
  text-decoration: none;
}

.gray,
.beige {
  padding: $offset12 $offset16;
  border-radius: 10px;
}

.beige {
  border: 1px solid $extra-light-gray;
  background: $beige;
}

.beige::placeholder {
  color: $black;
}

.gray {
  border: 1px solid $dark-gray;
  background: $dark-black;
}

.gray::placeholder {
  color: $white;
}