
@import '/src/shared/assets/styles/basics.scss';

.input {
  width: 100%;
  padding: $offset12 $offset16;
  border: 1px solid transparent;
  @include border('medium');
  color: $gray;
}
.beige {
  border-color: $extra-light-gray;
  background-color: $beige;

  &::placeholder {
    color: $gray;
  }
}
.black {
  border-color: $dark-gray;
  background-color: $dark-black;

  &::placeholder {
    color: $white;
  }
}