@import '/src/shared/assets/styles/basics.scss';

.secret-code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;

  p {
    color: $gray;
  }
}