@import '/src/shared/assets/styles/pages/Pages.scss';

.main {
  row-gap: calc($offset12 + $offset20);
  padding-top: calc($offset16 * 4);
}
.table {
  display: flex;
  flex-direction: column;
  column-gap: $offset20;
}
.table__head {
  display: flex;
  justify-content: space-between;
  column-gap: $offset20;
  height: 32px;
  margin-bottom: $offset4;
}
.table__row {
  display: flex;
  justify-content: space-between;
  column-gap: $offset20;
}
.table__row__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;

  p {
    color: $gray;
  }
}
.information {
  display: flex;
  flex-direction: column;
  row-gap: $offset16;
}
.information__row {
  display: flex;
  column-gap: $offset24;

  .information__row {
    column-gap: $offset12;
  }
}
.information__column {
  display: flex;
  flex-direction: column;
  column-gap: $offset24;
  row-gap: $offset16;
  max-width: 286px;
  width: 100%;
}
.information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  padding: $offset16 $offset24;
  background-color: #F4F4F4;
  border: 1px solid $extra-light-gray;
  @include border('medium');
  color: #828282;
}