@use 'sass:math';
@import '../../assets/styles/basics';

$sizeIcon: 24px;
$kSizeIcon: 24;

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  use {
    height: 100%;
    width: 100%;
  }

  .small {
    height: math.div($sizeIcon, 2); // 12px
    width: math.div($sizeIcon, 2); // 12px

    use {
      transform: scale(math.div($kSizeIcon, $kSizeIcon * 2));
    }
  }

  .medium {
    height: calc($sizeIcon * .667); // 16px
    width: calc($sizeIcon * .667); // 16px

    use {
      transform: scale(math.div($kSizeIcon * .667, $kSizeIcon));
    }
  }

  .big {
    height: $sizeIcon;
    width: $sizeIcon;

    use {
      transform: scale(math.div($kSizeIcon, ($kSizeIcon * 1)));
    }
  }

  .large {
    height: calc($sizeIcon * 1.332);
    width: calc($sizeIcon * 1.332);

    use {
      transform: scale(math.div($kSizeIcon, $kSizeIcon * 1.332));
    }
  }
}
