@use 'sass:math';
@import '../../assets/styles/basics';

$sizeIcon: 24px;
$kSizeIcon: 24;

.icon {
	display: flex;
	align-items: center;
	justify-content: center;

	use {
		height: 100%;
		width: 100%;
	}
	.small {
		height: calc($sizeIcon / 2);
		width: calc($sizeIcon / 2);

		use {
			transform: scale($kSizeIcon / ($kSizeIcon * 2));
		}
	}
	.medium {
		height: calc($sizeIcon * .667);
		width: calc($sizeIcon * .667);

		use {
			transform: scale(($kSizeIcon * .667) / $kSizeIcon);
		}
	}
	.big {
		height: 24px;
		width: 24px;

		use {
			transform: scale($sizeIcon * ($kSizeIcon * 1));
		}
	}
	.large {
		height: calc($sizeIcon / 1.332);
		width: calc($sizeIcon / 1.332);

		use {
			transform: scale($kSizeIcon / ($kSizeIcon * 1.332));
		}
	}
}
