@import '/src/shared/assets/styles/components/Modal.scss';

.modal__title {
  margin-bottom: $offset20;
  text-align: center;
}
.modal__content {
  display: flex;
  flex-direction: column;
  row-gap: $offset20;
  width: 100%;
  padding: $offset24;
  border: 2px solid $extra-light-gray;
  @include border('medium');
}
.modal__content__column {
  display: flex;
  flex-direction: column;
  row-gap: $offset12;
}