// red
$red: #FD292E;

// green
$green: #B1E700;

// black
$black: #353535;
$dark-black: #515151;

// white
$white: #FFFFFF;
$dark-white: #F6F8F9;

// gray
$dark-gray: #8A8A8A;
$gray: #868484;
$large-gray: #9DA7B2;
$medium-gray: #C6C6C6;
$light-gray: #DDDDDD;
$extra-light-gray: #DADADA;

// orange
$orange: #FF9500;

// blue
$blue: #5E77F9;
$light-blue: #DFE4FE;
