@import 'basics';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */

  font-family: "Montserrat", sans-serif;
  color: $black;

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
html {
  overflow: hidden;
}
body {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}
#root {
  display: flex;
}
h1, .h1,
h2, .h2
h3, .h3,
h4, .h4,
p, .p {
  line-height: 1.2;
}
h1, .h1 {
  font-size: $h1-size;
  font-weight: $font-w-bold;

  &.h1-reg {
    font-weight: 400;
  }
  &.h1-large {
    font-size: $h1-large-size;
  }
}
h2, .h2 {
  font-size: $h2-size;
  font-weight: $font-w-semibold;

  &.h2-big {
    font-size: calc($h2-size * 2);
    font-weight: $font-w-regular;
  }
}
p, .p {
  font-size: $p-size;
  font-weight: $font-w-regular;

  &.p-reg {
    font-weight: $font-w-regular;
  }
  &.p-large {
    font-size: $p-large-size;
  }
  &.p-big {
    font-size: $p-big-size;
  }
  &.p-medium {
    font-size: $p-medium-size;

    &.p-reg {
      font-weight: $font-w-regular;
    }
  }
  &.p-small {
    font-size: $p-small-size;
    font-weight: $font-w-semibold;
  }
  &.p-x-small {
    font-size: $p-x-small-size;
    font-weight: $font-w-semibold;
  }
}
button {
  background-color: unset;
  outline: none;
  border: none;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }
}
ul {
  list-style-type: none;
}
hr {
  height: 1px;
  width: 100%;
  background-color: #EAEAEA;
  border: none;
}
input {
  outline: none;
  background-color: unset;
  border: none;
}